/* Login.js */
body{
  background-color: none;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
}
.Login-container {
  width: 380px; 
  height: 520px; 
  margin: auto; 
  border-radius: 3px; 
  box-shadow: 0px 0px 20px #000;
}
.title{
  font-weight: bold; 
  font-size: 22px; 
  display: inline-block; 
  padding-top: 8px;
}
.text_area{
  align-items: center;
  width: 100%;
}
.text_input {
  width: 60%;
  height: 30px; 
  border: 1px solid;
  border-radius: 3px; 
  border-radius: 3px; 
}